.loadingBall1,
.loadingBall2,
.loadingBall3 {
  background-color: #fe5b23;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 15px;
}

.container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

@media (prefers-reduced-motion: no-preference) {
  .loadingBall1 {
    animation: sprett1 infinite 600ms ease-in-out;
    animation-direction: alternate;
  }

  .loadingBall2 {
    animation: sprett2 infinite 1200ms linear;
  }

  .loadingBall3 {
    animation: sprett3 infinite 600ms ease-in-out;
    animation-direction: alternate;
  }
}

@keyframes sprett1 {
  from {
    transform: translateY(-15px);
    background-color: #fe5b23;
  }
  to {
    transform: translateY(15px);
    background-color: #fe5b2363;
  }
}

@keyframes sprett2 {
  0% {
    transform: translateY(0px);
    background-color: #fe5b239f;
  }

  25% {
    transform: translateY(15px);
    background-color: #fe5b2363;
  }

  50% {
    transform: translateY(0px);
    background-color: #fe5b23cf;
  }

  75% {
    transform: translateY(-15px);
    background-color: #fe5b23;
  }

  100% {
    transform: translateY(0px);
    background-color: #fe5b239f;
  }
}

@keyframes sprett3 {
  from {
    transform: translateY(15px);
    background-color: #fe5b2363;
  }
  to {
    transform: translateY(-15px);
    background-color: #fe5b23;
  }
}
