.occurenceText {
  font-size: 30px;
}

.searchTextField {
  background-color: white;
  font-size: 30px !important;
}

.textToReturnBox {
  font-size: 25px;
  padding: 0 30px;
  background-color: #5d3dc0;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
}
